:root {
  --dark-blue-dm: hsl(209, 23%, 22%);
  --very-dark-blue-bg-dm: hsl(207, 26%, 17%);
  --very-dark-blue-txt-lm: hsl(200, 15%, 8%);
  --dark-gray-input-lm: hsl(0, 0%, 52%);
  --very-light-gray-bg-lm: hsl(0, 0%, 89%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

button {
  all: unset;
}
/* background: var(--very-dark-blue-bg-dm); */
@media (prefers-color-scheme: dark) {
  body,
  .searchFilter {
    background: var(--very-dark-blue-bg-dm);
    color: var(--white);
  }
  .card,
  header {
    background: var(--dark-blue-dm);
  }
  .fa-regular {
    font-weight: 900;
  }
}
@media (prefers-color-scheme: light) {
  body,
  .searchFilter {
    background: var(--very-light-gray-bg-lm);
    color: var(--very-dark-blue-txt-lm);
  }
  .card,
  header {
    background: var(--white);
  }
}

/* Mode */

body.dark,
.dark .searchFilter {
  background: var(--very-dark-blue-bg-dm);
  color: var(--white);
}

.dark header,
.dark .card {
  background: var(--dark-blue-dm);
}

.dark .fa-regular {
  font-weight: 900;
}

/* ---------------------- */

body.light,
.light .searchFilter {
  background: var(--very-light-gray-bg-lm);
  color: var(--very-dark-blue-txt-lm);
}

.light header {
  background: var(--white);
}

.light .fa-regular {
  font-weight: 500;
}

.light .card {
  background: var(--white);
}

body,
.fa-regular,
header,
.searchFilter {
  transition: all 0.3s ease-in-out;
}
/* Mode End*/

header {
  align-items: center;
  justify-content: space-between;
  height: 74px;
  position: sticky;
  top: 0;
  width: 100%;
  min-width: 350px;
  z-index: 10000;
}

header h1 {
  font-size: 1.8rem;
}

header button {
  font-weight: 600;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

header button i {
  margin-right: 8px;
}

main {
  font-size: 14px;
  min-width: 350px;
  padding-bottom: 50px;
}

.searchFilter {
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  position: sticky;
  width: 100;
  top: 74px;
  z-index: 111;
}

.search {
  align-items: center;
  position: relative;
}

/* ========================= */

.searchBar,
.searchBar:focus {
  border: none;
  outline: none;
  color: inherit;
}

.searchBar {
  display: block;
  width: 400px;
  padding: 15px 20px 15px 60px;
}

.searchBtn {
  position: absolute;
  left: 15px;
  font-size: 14px;
}

.searchBar::placeholder {
  color: inherit;
}

.filterSelector {
  /* width: 350px; */
  position: relative;
}

#selectField {
  width: 200px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

#selectField img {
  width: 12px;
  transition: all 0.3s;
}

#list {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  visibility: visible;
  transition: all 0.3s;
  position: absolute;
  z-index: 100;
}

.options {
  width: 100%;
  padding: 15px;
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  transition: all 0.3s;
}

.options:hover {
  color: var(--dark-gray-input-lm);
}

#list.hide {
  opacity: 0;
  visibility: hidden;
}

#arrow {
  transition: all 0.3s linear;
}

.rotate {
  transform: rotate(180deg);
}

.countriesList {
  flex-wrap: wrap;
  gap: 80px;
  justify-content: space-between;
}

.country {
  width: 284px;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s ease-in;
  cursor: pointer;
  padding-bottom: 50px;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.country img {
  width: 100%;
  height: 180px;
  background: var(--very-light-gray-bg-lm);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.country > *:not(.country img) {
  padding-left: 30px;
}

.country h2 {
  font-size: 1.15rem;
  margin-bottom: 15px;
  margin-top: 35px;
}

.country h3 {
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 1.8;
}

.country h3 span {
  font-weight: 300;
}

/* helpers */

.card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.flex {
  display: flex;
}

.containerPadding {
  padding-left: 80px;
  padding-right: 80px;
}

.mt-container {
  margin-top: 50px;
}

.bd-rd {
  border-radius: 10px;
}

.hideCountryList > * {
  display: none;
}

.countryDetail {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-top: 70px;
}

.countryDetail button {
  width: max-content;
  width: 100px;
  border-radius: 6px;
  text-align: center;
  padding: 18px 29px;
}

.details {
  justify-content: space-between;
  gap: 90px;
  align-items: center;
}

.details img {
  width: 510px;

  height: 350px;
}

.details .text {
  width: 55%;
  flex-direction: column;
  gap: 40px;
}

.details b {
  word-break: keep-all;
}

.details .text p {
  line-height: 2;
}

.details .text .fields {
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.details .text .borders p {
  gap: 10px;

  flex-wrap: wrap;
}

.details .text .borders p {
  gap: 10px;
  align-items: center;
}
.details .text .borders p span {
  gap: 10px;
  padding: 0 25px;
}
/* Media Queries */

@media screen and (max-width: 810px) {
  .containerPadding {
    padding: 0 40px;
  }
  .searchFilter {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }
  .search {
    width: 100%;
  }

  .searchBar {
    /* width: 1; */
    flex: 1;
  }
}

@media screen and (max-width: 597px) {
  header h1 {
    font-size: 1.3rem;
  }
  .containerPadding {
    padding: 0 15px;
  }
}

@media screen and (max-width: 433px) {
  header h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .country {
    width: 230px;
  }

  .country img {
    height: 150px;
  }
}

@media screen and (max-width: 1026px) {
  .country {
    width: 276px;
  }

  .country img {
    height: 200px;
  }
}
@media screen and (max-width: 976px) {
  .country {
    width: 276px;
  }

  .country img {
    height: 200px;
  }
}

@media screen and (max-width: 729px) {
  .countriesList {
    justify-content: center;
  }

  .country {
    width: 340px;
  }

  .country img {
    height: 220px;
  }
}

@media screen and (max-width: 1249px) {
  .details img {
    width: 410px;
    height: 350px;
  }
}
@media screen and (max-width: 1153px) {
  .details .text .fields {
    flex-direction: column;
  }

  .borders p b {
    width: 100%;
  }
}
@media screen and (max-width: 923px) {
  .countryDetail {
    gap: 30px;
  }
  .details {
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 497px) {
  .details {
    gap: 30px;
  }
  .details img {
    width: 100%;
    /* height: 350px; */
  }
}
