.counter{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    row-gap: 1.7rem;
}

.counter button{
    all: unset;
    padding: 1.5rem;
    background-color: brown;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.counter button:hover{
    transform: scale(0.95);
}

.counter p{
    font-size: 2rem;
    color: brown;
}
