* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(165, 35, 35, 0.63), blue);
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form input {
  padding: 20px;
  font-size: 1.2rem;
  outline: none;
  border: 0;
  transition: all 0.3s linear;
}

form input:focus {
  box-shadow: 0 5px 5px rgba(44, 40, 40, 0.205);
  background: #b39494;
}

.calculate {
  all: unset;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0 5px 5px rgba(44, 40, 40, 0.205);
  text-transform: uppercase;
  cursor: pointer;
}

form input,
.calculate {
  border-radius: 10px;
}

form section {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 700px) {
  form section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
