* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.black {
  background: #000;
}
.white {
  background: #969090;
}

.container {
  display: grid;
  grid-template-columns: repeat(8,50px);
    grid-template-rows: repeat(8,50px);
}
